{% extends 'base.html' %}

{% block head %}
Edit page
{% endblock %}

{% block body %}
<div class="content">
    <h2>Task Edit</h2>
    <div class="d-flex justify-content-center">
        <div class="w-50">
            <form action="/edit/{{task.id}}" method="post" class="form-inline mb-3">
                <div class="input-group w-100">
                    <input type="text" class="form-control" id="content" name="content" value="{{task.content}}">
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-warning">Update</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
